@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Sort Algorythms</h1>

<h2>Buble Sort</h2>
<input type="button" id="idBubleSort" value="Start Buble Sort" />

<div class="row">
    <div class="col-6">
        <ul id="NumbersList"></ul>
    </div>
</div>

<!--
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">number</div>
        <div class="col-4"><input type="text" id="userInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
    -->
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Client.js"></script>