@page
@model IndexModel

@{
    //using ModelCardSortView;
    // ViewData["Title"] = "Home page";
}

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    google.charts.load('current', { 'packages': ['corechart'] });

</script>


<h1>Sort Algorythms</h1>
<span>Quantity items:</span>
<input style="display:block" id="idAmount" />

TO IMPROVE:
Back send the progress of the list (meanwhile it is being ordered, back will handle the time to send progress)
Front will take the list and will graph it using (barras).

The idea is to see the progress of ordering.

<div style="float:left; width:33%">
    @await Html.PartialAsync("SortViews/_PartialBubbleSort.cshtml")
    <!--<prtial name="SortViews/_PartialBubbleSort.cshtml" />-->
</div>
<div style="float: left;width:33%">
    @await Html.PartialAsync("SortViews/_PartialSelectionSort.cshtml")
</div>
<div style="float: left;width:33%">
    @await Html.PartialAsync("SortViews/_PartialInsertionSort.cshtml")
</div>
<div style="float: left;width:33%">
    @await Html.PartialAsync("SortViews/_PartialShellSort.cshtml")
</div>
<div style="float: left;width:33%">
    @await Html.PartialAsync("SortViews/_PartialQuickSort.cshtml")
</div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Client.js"></script>