<h2>Quick Sort</h2>
<input type="button" id="idQuickSort" value="Start Quick Sort" />
<div id="chartQuick_div" style="width: 100%; height: 300px;"></div>

<script>

    google.charts.setOnLoadCallback(drawChartQuick);

    var arrayDataQuick = [['value', 'time'], [0, 0]];

    var intervQuick = null;

    function drawChartQuick() {
        var data = google.visualization.arrayToDataTable(
            this.arrayDataQuick
        );

        var options = {
            title: 'Quick Sort',
            hAxis: { title: 'time' },
            vAxis: { title: 'value' },
            legend: 'none'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chartQuick_div'));

        chart.draw(data, options);
    }

     /// Bubble sort
    function initQuickSort() {
        this.arrayDataQuick = [['value', 'time'], [0, 0]];
        if (intervQuick !== null) {
            clearInterval(intervQuick);
            intervQuick = null;
        }
    }

    function initIntervalRenderingQuickSort() {
        if (intervQuick === null) {
            intervQuick = setInterval(updateChartQuick, 2000);
        }
    };

    function addQuickItem(time, value) {
        this.arrayDataQuick.push([time, value]);
    }

    function updateChartQuick() {
        drawChartQuick();

        let amount = parseInt(document.getElementById("idAmount").value);
        console.log(this.arrayDataQuick.length)
        console.log(amount + 2)
        if (this.arrayDataQuick.length >= amount + 2) {
            drawChartQuick();
            initQuickSort();
        }
    };


    /// Bubble sort

    document.getElementById("idQuickSort").addEventListener("click", function (event) {
    initQuickSort();
    initIntervalRenderingQuickSort();
    var amount = document.getElementById("idAmount").value;
    $.get("/Sort/RunQuickSortAscending/" + amount).catch(function (err) {
        return console.error(err.toString());
    }).then(() => {
       // finishIntervalRenderingBubbleSort();
        console.log("finish");
    });
    event.preventDefault();
});

</script>